{% extends '../base.html.twig' %}

{% block body %}

    <div class="container-fluid" style="width: 60%">
        <h1 style="text-align: center">Généracteur convoc Entreprises (Hors civis)</h1>
        <h2 style="text-align: center">Entrez le numéro d'affaire pour retrouver tous les contacts qui y sont liés</h2>
        <form action="{{ path('getProject') }}" method="post">

            <div class="col-md-8">
                <div class="form-group col-lg-8">
                    <label for="refAffaire">Numéro affaire</label>
                    <input id="refAffaire" name="refAffaire" type="text">
                </div>
                <div class="form-group col-lg-4">
                    <input type="submit">
                </div>
            </div>
        </form>

    </div>
    {% endblock %}