
<style type="text/css">


    #cadre {

        margin-top: 120px;
        margin-left: 20px;

    }
    tr, th, td {
        border: solid 1px black;
        height: 25%;

    }
    tr {
        height: 25%;
    }
    table {
        border-collapse: collapse;
        width: 90%;
        height: 2500px;
        margin: 0 25px auto;
        text-align: center;
    }

    .parties {
        width: 40%;
    }

    .conseils, .avocats {
        width: 30%;
    }

    td {
        border: solid 1px black;
    }

</style>

<page  backimg="../public/fondReiserCopie3.jpeg" backbottom="10mm" backimgw="100%" backimgy="30px" backimgx="35px" style="size: A4">


    <div id="cadre">

        <h1 style="text-align: center; margin-top: 40px"><u>{{ affaire }}</u></h1>

        <div style="margin-left: 25px; height: 90px; width: 90%; background-color: lightgray; border: 1px solid black ;">
            <div style="padding-left: 15px">
                <h4 >Expert Assistance Expertise Batiment : {{ expert }}</h4>
                {{ lieu }}
            </div>


        </div>

        <h1 style="text-align: center"><u>Réunion d'expertise du {{ reunion }}</u></h1>

        <table>

            <tr style="height: 15%; background-color: lightgrey">
                <th style="vertical-align: middle" class="parties">PARTIES</th>
                <th style="vertical-align: middle" class="conseils">CONSEILS TECHNIQUES</th>
                <th style="vertical-align: middle" class="avocats">AVOCATS</th>
            </tr>
            <tr style="height:25%">
                <td class="parties"></td>
                <td class="conseils"></td>
                <td class="avocats"></td>
            </tr>
            <tr style="height:25%">
                <td class="parties"></td>
                <td class="conseils"></td>
                <td class="avocats"></td>

            </tr>
            <tr style="height:25%">
                <td class="parties"></td>
                <td class="conseils"></td>
                <td class="avocats"></td>

            </tr>
        </table>
        <div  style="page-break-after: always"></div>
        <table style="margin: 150px 45px auto; width: 90%">
            <tr>
                <td class="parties"></td>
                <td class="conseils"></td>
                <td class="avocats"></td>
            </tr>
            <tr>
                <td class="parties"></td>
                <td class="conseils"></td>
                <td class="avocats"></td>
            </tr>
            <tr>
                <td class="parties"></td>
                <td class="conseils"></td>
                <td class="avocats"></td>
            </tr>
            <tr>
                <td class="parties"></td>
                <td class="conseils"></td>
                <td class="avocats"></td>
            </tr>
        </table>

     </div>

        <page_footer  style="size: A4">
{#              Ai adapté une façon de changer le footer. méthode pas top. à changer dés que possible#}
            <div style="text-align: center; font-size: x-small; width: 100%; height: 30px;  line-height: 1px; color: gray; margin-bottom: 10px" >
                {% if expert == "Geoffrey Reiser" %}
                    <p>Siège social et pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 535 111 678 00012 code NAF-APE : 7490A TVA: FR81535111678</p>
                {% elseif expert == "Jérémy Capdeville" %}
                    <p>Siège social : ZAC Croix sud 55 rue Joseph Cugnot - 11000 NARBONNE</p>
                    <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 833 707 771 000 22 code NAF-APE : 7120B TVA: FR53833707771 </p>
                {% elseif expert == "Jean-Luc Bedel" %}
                    <p>Siège social : 22 Rue de la gaieté - 31400 TOULOUSE</p>
                    <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 852 502 210 000 10 code NAF-APE : 7112B TVA: FR83852502210  </p>
                {% elseif expert == "Stéphane Bertrand" %}
                    <p>Siège social : Hameau de Rabaute 09300 Pereille</p>
                    <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 87846997200011 code NAF-APE : 7112B TVA: FR50878469972  </p>
                {% elseif expert == "Bastien Carles Espitau" %}
                    <p>Siège social et pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 535 111 678 00012 code NAF-APE : 7490A TVA: FR81535111678</p>
                {% elseif expert == "Pierre-Emmanuel Cau" %}
                    <p>Siège social : 41 rue Rhin et Danube - 34410 Sérignan </p>
                    <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 	879 771 50900012 code NAF-APE : 7112B TVA: FR23879771509  </p>
                {% elseif expert == "Mickaël Chaumont" %}
                    <p>Siège social : 6 Rue de la trille Le Dognon - 86160 Saint-Maurice-La-Clouere</p>
                    <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 878 667 971 000 13 code NAF-APE : 7490B TVA: FR19878667971</p>
                {% elseif expert == "Paul Collinet" %}
                    <p>Siège social et pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 535 111 678 00012 code NAF-APE : 7490A TVA: FR81535111678</p>
                {% elseif expert == "Nicolas Comet" %}
                    <p>Siège social : 	48 Avenue du 8 Mai 1945 Bât A Lot 9 - 64100 Bayonne</p>
                    <p>pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 889 630 935 00019 code NAF-APE : 7120B TVA: FR91889630935 </p>
                {% elseif expert == "Thierry Costella" %}
                    <p>Siège social : 229 Avenue de la Californie - 06200 Nice  </p>
                    <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 84875178000034 code NAF-APE : 7120B TVA: FR17848751780 </p>
                {% elseif expert == "Olivier David" %}
                    <p>Siège social : Moulin de Clidane - 63760 BOOUG-LASTIC </p>
                    <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 88396119500012 code NAF-APE : 7120B TVA: FR15883961195  </p>
                {% elseif expert == "Jérôme Decor" %}
                    <p>Siège social : 100 route de Nîmes, 30132 Caissargues</p>
                    <p>et pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 889 600 904 00011 code NAF-APE : 7112B TVA: FR60830377925</p>
                {% elseif expert == "Benaissa El Assioui" %}
                    <p>Siège social et pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 535 111 678 00012 code NAF-APE : 7490A TVA: FR81535111678</p>
                {% elseif expert == "Florian Mailhe" %}
                    <p>Siège social : 2 Rue de Coysevox 69001  - Lyon</p>
                    <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 88898757500014 code NAF-APE : 7120B TVA: FR94843314600  </p>
                {% elseif expert == "Laurent Montaru" %}
                    <p>Siège social : 4 Allée de la Clairière - 33650 MARTILLAC  </p>
                    <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 852 551 746 000 13 code NAF-APE : 7120B TVA: FR87852551746  </p>
                {% elseif expert == "Alexandre Gilbert" %}
                    <p>Siège social : 26 Avenue Henri Lefeuvre - 72100 LE MANS</p>
                    <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                    <p>mail : contact@assistance-expertise-batiment.com</p>
                    <p>siret : 890 026 461 00016 code NAF-APE : 7120B TVA: FR68890026461 </p>
                {% endif %}
            </div>
        </page_footer>

</page>

