<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block javascripts %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {#    <link rel="stylesheet" href="/resources/demos/style.css">#}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script>
        $( function() {

            $( "#datepicker" ).datepicker({
                firstDay: 1,
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                dateFormat: 'dd-mm-yy'
            });
        })
        $(document).ready(function(){
            $('#timepicker').timepicker({
                timeFormat: 'H:mm',
                interval: 15,
                minTime: '8',
                maxTime: '18',
                defaultTime: '8',
                startTime: '8:00',
                dynamic: true,
                dropdown: true,
                scrollbar: true
            });
        });
    </script>

{% endblock %}
<body>
 {% block body %}


    <form action="{{ path('client')}}" method="post">
        <p>Numéro d'affaire <select name="idsoc" id="idsoc">
     {% for projet in projectsList %}
            <option value="{{ projet.socid }}">{{ projet.ref }}</option>
     {% endfor %}
        </select></p>
{#        <input name="dateRdv" id="dateRdv" type="datetime-local">#}
        <p>Date: <input type="text" id="datepicker" name="datepicker" autocomplete="off"></p>
        <p>Heure: <input type="text" id="timepicker" name="timepicker" autocomplete="off"></p>
        <input type="submit">

    </form>




{% endblock %}


</body>
</html>